.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-content: center;
  justify-content: center;
}

.clickable-card {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .card-container {
    gap: 1rem;
    height: auto;
    padding: 1rem;
  }

  .clickable-card {
    height: auto;
  }
}
