/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  gap: 1rem;
}

.mat-mdc-card.mdc-card {
  border: solid 1px rgb(110, 109, 109);
  padding: 0.8rem;
}

.mat-horizontal-stepper-wrapper {
  display: flex;
  gap: 1rem;
}
