.persona-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.persona-card {
  flex: 1 1 280px
}

.avatar img {
  width: 50px;
  margin-right: 8px;
}

.finish-registration {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
}
