h1 {
  margin-bottom: 1.5rem;
}

.persona-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.content-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content-heading {
    flex-direction: column;
    gap: 1rem;
  }

  .content-heading button {
    align-self: center;
  }
}

.avatar img {
  width: 50px;
  margin-right: 8px;
}

.finish-registration {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
}

mat-card-subtitle {
  color: gray;
  font-size: 0.9rem;
}

mat-card-actions {
  justify-content: center;
  align-items: center;
}

.no-player {
  color: gray;
}