footer {
  left: 0;
  width: 100%;
  padding: 1rem 0 1rem;
  color: var(--muted);
  text-align: center;
  color: gray;
  bottom: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
