img {
  width: 150px;
  height: 150px;
}

.centered {
  max-width: 640px;
  width: 80vw;
  min-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  height: 100%;
  gap: 1rem;
}
