.transfer {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.transfer > div {
  margin-bottom: 25px;
}

.transfer h3 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.transfer address {
  font-style: normal;
  padding: 15px;
  border-left: 4px solid green;
  border-radius: 4px;
}

.transfer code {
  font-family: "Courier New", Courier, monospace;
  padding: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.transfer em {
  font-style: italic;
  color: gray;
}
