<nav>
  <img src="/convogon.png" class="logo" />
  <span class="title" [routerLink]="['/']">ConVogon</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
</nav>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">{{ mail }}</button>
  @if (isAdmin) {
  <button mat-menu-item [routerLink]="['/admin']">Admin</button>
  }
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
@if (showPaymentMissing) {
<div class="status-banner warning">
  Spende ausstehend
  <button mat-stroked-button [routerLink]="['/' + ROUTES.PAY]" class="action">
    Spenden
  </button>
</div>
} @if (showPaymentReceived) {
<div class="status-banner success">Spende eingegangen</div>
}

<main>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
