nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.status-banner {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.status-banner.warning {
  background: #600101;
  font-weight: bolder;
  font-size: 1.1rem;
}
.status-banner.success {
  background: #046001;
  font-weight: bolder;
  font-size: 1.1rem;
}

main {
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.title {
  font-family: "Jacquard 12", system-ui;
  font-size: 2.5rem;
  cursor: pointer;
  user-select: none;
}
