.basic-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
}

.account {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}

.hoverable-rows tr:hover {
  background-color: rgb(42, 42, 42);
  color: white;
  cursor: pointer;
}
