form {
  display: flex;
  flex-direction: column;
}

.next-button {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  mat-form-field mat-label {
    font-size: 0.875rem;
    text-align: center;
  }
}
