.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.row .label {
  font-weight: bolder;
  text-decoration: underline;
  min-width: 150px;
  width: 40%;
}

.row.long .label {
  margin-bottom: 5px;
}

.row.long {
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
