.persona-wizard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wizard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 48px;
}

.wizard-header .heading {
  font-size: 1.5rem;
}

.back-button {
  align-self: flex-start;
}
