<mat-card>
  <mat-card-header>
    <mat-card-title> OT-Informationen</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="player-info-form">
      <mat-form-field appearance="fill">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mobilnummer</mat-label>
        <input matInput formControlName="mobileNumber" type="tel" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Verpflegung</mat-label>
        <mat-select formControlName="diet">
          <mat-option [value]="'nothing'">Keine Besonderheiten</mat-option>
          <mat-option [value]="'vegetarian'">Vegetarisch</mat-option>
          <mat-option [value]="'vegan'">Vegan</mat-option>
          <mat-option [value]="'other'">Allergien oder Sonstiges</mat-option>
        </mat-select>
        @if (form.get('diet')?.value == 'other') {
        <mat-hint>Bitte "Verpflegungsbesonderheiten" ausfüllen</mat-hint>
        }
      </mat-form-field>

      @if (form.get('diet')?.value == 'other') {
      <mat-form-field>
        <mat-label>Verpflegungsbesonderheiten</mat-label>
        <textarea matInput formControlName="dietOther"></textarea>
      </mat-form-field>
      }

      <mat-form-field appearance="fill">
        <mat-label>Unterbringung</mat-label>
        <mat-select formControlName="accommodation">
          <mat-option [value]="'hut'"
            >Ich möchte in einer Hütte übernachten</mat-option
          >
          <mat-option [value]="'tent'"
            >Ich möchte im meinem Zelt / Van übernachten</mat-option
          >
          <mat-option [value]="'outside'">Ich übernachte außerhalb</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox formControlName="travellingWithGroup">
        Reist du mit einer Gruppe an?
      </mat-checkbox>

      @if (form.get('travellingWithGroup')?.value) {
      <mat-form-field appearance="fill">
        <mat-label>Gruppenname</mat-label>
        <input matInput formControlName="groupName" />
      </mat-form-field>
      }
      <mat-form-field appearance="fill">
        <mat-label>Zeitpunkt Anreise</mat-label>
        <input matInput formControlName="arrival" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Zeitpunkt Abreise</mat-label>
        <input matInput formControlName="departure" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button matStepperNext>Weiter</button>
  </mat-card-actions>
</mat-card>
